.slider {
  max-width: 400px;
  margin: 0 auto;
}

.slider__input {
  width: 100%;
}

.slider__image {
  display: block;
  margin: 20px auto;
  max-width: 100%;
}

.box {
  width: 50px;
  height: 50px;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  opacity: .7;
  background-clip: text;
  background-size: cover;
  background-position: center;
  color: transparent;
  background: url('https://static.wikia.nocookie.net/pogod/images/3/3a/%D0%9F%D1%80%D0%B8%D1%80%D0%BE%D0%B4%D0%B0.jpg/revision/latest?cb=20181224151953&path-prefix=ru');
}

